{{!--
<div class="modal in fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">Sign In</h4>
      </div>
      <div class="modal-body auth-modal-body">

        {{#each flashMessages.queue as |flash|}}
          {{flash-message flash=flash}}
        {{/each}}

        <form class="auth-form">
          {{email-input email=credentials.email}}
          {{password-input password=credentials.password}}
        </form>

      </div>
      <div class="modal-footer">

        <button type="submit" class="btn btn-primary" {{action "submit"}}>
          Submit
        </button>

        <button class="btn btn-default" {{action "reset"}}>
          Reset
        </button>

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> --}}



<section class="post-form-design">
  <div class="authentication-form-title">
  <h2>Sign In</h2>
  </div>
  {{!-- {{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
  {{/each}} --}}

  <form class="auth-form">
  {{email-input email=credentials.email}}
  {{password-input password=credentials.password}}
</form>
  <button type="submit" class="btn btn-primary" {{action "submit"}}>
    Sign In
  </button>

  <button id="user-input-btn" class="btn btn-default" {{action "reset"}}>
    Reset
  </button>

</section>
